html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

:root {
  --PD: #333333;
  --PD-Cluster-B-emotional: #333333;
  --PD-Cluster-C-anxiety: #333333;
  --alcohol: #1a1333;
  --anxiety-non-trauma: #262949;
  --asthma: #045459;
  --bipolar-spectrum-illness: #087353;
  --cardiovascular: #15c286;
  --depression: #abd96d;
  --eating: #fbbf54;
  --immune-autoimmune: #ee6b3b;
  --interpersonal-trauma: #ec0f47;
  --obesity: #a02c5d;
  --psychosis: #700460;
  --somatic-disorder: #022c7a;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

svg {
  font: 10px sans-serif;
}
.linage {
  fill: none;
  stroke: #000;
}
.marriage {
  fill: none;
  stroke: black;
}
.man {
  background-color: lightblue;
  border-style: solid;
  border-width: 1px;
}
.woman {
  background-color: pink;
  border-style: solid;
  border-width: 1px;
}
.emphasis {
  font-style: italic;
}
p {
  padding: 0;
  margin: 0;
}
