.container svg > g > g:first-of-type > g > text {
  font-weight: 700;
  letter-spacing: 1px;
}
.container svg > g > g:first-of-type > g:nth-of-type(1) > text {
  fill: var(--PD) !important;
}
.container svg > g > g:first-of-type > g:nth-of-type(2) > text {
  fill: var(--PD-Cluster-B-emotional) !important;
}
.container svg > g > g:first-of-type > g:nth-of-type(3) > text {
  fill: var(--PD-Cluster-C-anxiety) !important;
}
.container svg > g > g:first-of-type > g:nth-of-type(4) > text {
  fill: var(--alcohol) !important;
}
.container svg > g > g:first-of-type > g:nth-of-type(5) > text {
  fill: var(--anxiety-non-trauma) !important;
}
.container svg > g > g:first-of-type > g:nth-of-type(6) > text {
  fill: var(--asthma) !important;
}
.container svg > g > g:first-of-type > g:nth-of-type(7) > text {
  fill: var(--bipolar-spectrum-illness) !important;
}
.container svg > g > g:first-of-type > g:nth-of-type(8) > text {
  fill: var(--cardiovascular) !important;
}
.container svg > g > g:first-of-type > g:nth-of-type(9) > text {
  fill: var(--depression) !important;
}
.container svg > g > g:first-of-type > g:nth-of-type(10) > text {
  fill: var(--eating) !important;
}
.container svg > g > g:first-of-type > g:nth-of-type(11) > text {
  fill: var(--immune-autoimmune) !important;
}
.container svg > g > g:first-of-type > g:nth-of-type(12) > text {
  fill: var(--interpersonal-trauma) !important;
}
.container svg > g > g:first-of-type > g:nth-of-type(13) > text {
  fill: var(--obesity) !important;
}
.container svg > g > g:first-of-type > g:nth-of-type(14) > text {
  fill: var(--psychosis) !important;
}
.container svg > g > g:first-of-type > g:nth-of-type(15) > text {
  fill: var(--somatic-disorder) !important;
}
